@import url("../ScoreboardScreen.module.scss");

.scoreProjectionScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px 50px 50px;

  .fouls {
  }
  .sponsorCon {
    width: calc(10vw * var(--scale));
    height: calc(10vw * var(--scale));
    display: flex;
    flex-direction: column;
    gap: 1vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .scoreInfoCon {
    padding: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .scoreCon {
      width: 60vh;
    }
  }
}
