.digitDisplayRootCon {
  display: flex;
  .digitDisplayCon {
    position: relative;
    font-size: var(--fontSize);
    .ddPlaceholder {
      color: rgba(255, 255, 255, 0.2);
      opacity: 0.4;
    }
    .ddValue {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
