.foulMarkCon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  margin-bottom: 2vh;
  font-size: 5vh;
  font-family: "text" !important;
  div {
    font-family: "text" !important;
  }
  button {
    font-size: 7vh;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: pointer;
  }
}
