.scoreInfo {
  display: flex;
  font-size: calc(9vh * var(--scale));
  align-items: center;
  justify-content: center;
  gap: 10vh;
  .scoreTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    &Name {
      font-family: "text" !important;
      font-size: calc(6vh * var(--scale));
    }
  }
}
