.scoreInfo {
  display: flex;
  font-size: 9vh;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  .scoreTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    &Name {
      font-family: "text" !important;
      font-size: 6vh;
    }
  }
}
